<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="Root" fileName="${sys:log4j.logdir}/root.log" filePattern="${sys:log4j.logdir}/root.log.%d{yyyy-MM-dd}">
            <PatternLayout pattern="%d %-5p %c: %m%n" />
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${sys:log4j.logdir}">
                    <IfFileName glob="root.*"/>
                    <IfLastModified age="7d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
